<h1>Men's Dress Shoes</h1>
<section>
    <ul>
      <li><img src="/assets/images/curated/leather-dress.jpg" alt="Men's leather dress shoes">Leather Shoes</li>
      <li><img src="/assets/images/curated/business-casual.jpg" alt="Men's business casual shoes">Business Shoes</li>
      <li><img src="/assets/images/curated/comfort-dress.jpg" alt="Men's comfortable dress shoes">Comfort Shoes</li>
      <li><img src="/assets/images/curated/loafers-dress.jpg" alt="Men's loafers dress shoes">Loafers Shoes</li>
    </ul>
</section>
<app-product-list></app-product-list>
