section {
  position: relative;
  padding: 15px;
}

h2 {
  text-transform: uppercase;
}
h2, h3 {
  font-family: futura-pt,Helvetica,Arial,sans-serif;
  font-weight: 600;
  margin: 0;
}

h4 {
  margin: 0;
  font-weight: 400;
}

p {
  margin: 0 0 30px;
  color: #666666;
}

.button-bar {
  display: flex;
  margin: 0 -5px;
  .button-bar-item {
    flex-basis: 50%;
    padding: 0 5px;
    visibility: visible;
  }
  @media only screen and (min-width: 768px) {
    position: absolute;
    right: 15px;
    top: 20px;
    width: 40%;
    .button-bar-item:first-child {
      visibility: hidden;
    }
  }
  
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0 -10px;
  .product {
    list-style: none;
    flex-basis: 50%;
    padding: 0 10px;
    font-size: 14px;
    line-height: 1.6;
    @media only screen and (min-width: 768px) {
      flex-basis: 20%;
    }
    .product-img {
      width: 100%;
    }
    .comp-value {
      font-size: .8em;
      color: #666666;
    }
  }
}

.color-list {
  padding: 0;
  margin: 10px 0;
  .color-list-item {
    list-style: none;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 5px;
    border-radius: 50%;
    border: 2px solid white;
    &.active {
      box-shadow: 0px 0px 0px 1px #000
    }
  }
}

.star-rating {
  display: inline-block;
  position: relative;
  .star-rating-empty {
    color: #ccc;
  }
  .star-rating-filled {
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden;
    white-space: nowrap;
  }
}
